@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
	font-family: 'Nanum Gothic', sans-serif;
}
/* 홈페이지 메인 제품 목록  */
#content_area {
	width: 1200px;
	padding-top: 240px;
	background-color: red;
	height: 350px;
}

/* 푸터 영역 */
* {
	margin: 0;
	padding: 0;
}
/* 화면 전체 렙 */
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	/* background-color: red; */
}
/* 부트스트랩 - 이벤트 슬라이드 랩 */
#image_slide_wrapper {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
    text-align: center;
   	border-radius: 10px;
	/* background-color: red; */
}

/* 부트스트랩 - 상품 바로가기 이미지 랩 */
#image_click_mainwrapper {
	max-width: 1200px;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
    text-align: center;
 }
 
 /* 부트스트랩 슬라이드쇼 이미지 속성 */
#boot_imgradius1{
	border-radius: 10px;
}
 /* 부트스트랩 바로가기 이미지 속성 */
#boot_imgradius2{
	border-radius: 20px;
}

#header_wrap {
	width: 1200px;
	position: relative;
}
/* 이벤트 */
#event{
	color: white;
	text-decoration: none;
}
#event a:link {
	color: white;
	text-decoration: none;
}

#event a:visited {
	color: white;
	text-decoration: none;
}

#event a:hover {
	color: white;
	text-decoration: none;
}

/* 로고, 검색, 로그인 */
#top_menu_area {
	width: 1200px;
	height: 40px;
	background-color: #24292F;
	border-radius: 0 0 10px 10px;
	position: relative;
}

#top_menu_left {
	position: absolute;
	display: flex;
	color: white;
	padding: 10px;
	padding-left: 30px;
}

#top_menu_left ul {
	display: flex;
	list-style: none;
}

#top_menu_left li {
	border-left: solid 1px;
	padding-left: 5px;
	margin-left: 5px;
}

#top_menu_left li:first-child {
	border-left: none;
}

#top_menu_left  a {
	text-decoration: none;
}

#top_menu_left a:link {
	color: inherit;
	text-decoration: none;
}

#top_menu_left a:visited {
	color: inherit;
	text-decoration: none;
}

#top_menu_left a:hover {
	color: inherit;
	text-decoration: none;
}

#top_menu_right {
	color: white;
	padding: 10px;
	padding-right: 30px;
	float: right;
}

#top_menu_right ul {
	display: flex;
	list-style: none;
}

#top_menu_right li {
	border-left: solid 1px;
	padding-left: 5px;
	margin-left: 5px;
}

#top_menu_right li:first-child {
	border-left: none;
}

#top_menu_right  a {
	text-decoration: none;
}

#top_menu_right a:link {
	color: inherit;
	text-decoration: none;
}

#top_menu_right a:visited {
	color: inherit;;
	text-decoration: none;
}

#top_menu_right a:hover {
	color: inherit;
	text-decoration: none;
}
/* 로고 */
#logo_area {
	width: 1200px;
	height: 150px;
	background-color: none;
	position: relative;
}

#logo {
	padding-top: 30px;
	padding-left: 430px;
}
/* 메인메뉴*/
#nav ul {
	width: 100%;
	background-color: #24292F;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

#nav li {
	display: inline-block;
	color: white;
	margin-left: 75px;
	border-radius: 10px;
	z-index: 999;
}
/* #nav a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
#nav:hover {
	background-color: silver;
	color: white;
} */
#dropdown {
	position: relative;
}

#dropdown-menu {
	color: white;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}

#dropdown-content {
	position: absolute;
	background-color: #24292F;
	min-width: 160px;
	display: none;
	color: white;
	border-radius: 0 0 10px 10px;
}

#dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

#dropdown-menu:hover {
	background-color: silver;
	color: white;
}

#dropdown:hover #dropdown-content {
	display: block;
}

#dropdown-content a:hover {
	background-color: silver;
}

#footer1 {
	padding-top: 20px;
}

#footer2 p{
	padding-top: 20px;
	font-size: 10px;
}

#footer {
	background-color: #24292F;
	width: 1200px;
	height: 110px; /* 내용물에 따라 알맞는 값 설정 */
	bottom: 0;
	position: relative;
	color: white;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
}

#footer a:link {
	color: inherit;
	text-decoration: none;
}

#footer a:visited {
	color: inherit;
	text-decoration: none;
}

#footer a:hover {
	color: inherit;
	text-decoration: underline;
}

#logo1 {
	bottom: 0;
	position: absolute;
	padding: 25px;
	padding-left: 100px;
}

#twitter {
	bottom: 0;
	position: absolute;
	padding: 25px;
	right: 200px;
}

#facebook {
	bottom: 0;
	position: absolute;
	padding: 25px;
	right: 140px;
}

#insta {
	bottom: 0;
	position: absolute;
	padding: 25px;
	right: 80px;
}