@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
	font-family: 'Nanum Gothic', sans-serif;
}
*{
	margin: 0;
	padding:0;
}

/* 화면 전체 렙 */
.wrapper{
	max-width: 1200px;
	margin: 0 auto;

	
}
nav{
	padding-top: 20px;
}
p{
	padding-top:20px;
	font-size: 10px;

}
.footer{
	background-color: #24292F;
	width:1200px;
	height: 110px; /* 내용물에 따라 알맞는 값 설정 */
	bottom: 0px;
	position: absolute;
	color: white;
	text-align: center;

	border-radius: 10px 10px 0px 0px;
	
}
.footer a:link{ 
	color: inherit; 
	text-decoration: none;
}
.footer a:visited{ 
	color: inherit; 
	text-decoration: none;
}
.footer a:hover{ 
	color: inherit;
	text-decoration: underline;
}
.logo1{
	bottom:0;
	position: absolute;
	padding: 25px;	
	padding-left: 100px;
}
.twitter{
	
	bottom: 0;
	position: absolute;
	padding: 25px;	
	right:200px;
}
.facebook{
	
	bottom: 0;
	position: absolute;
	padding: 25px;	
	right:140px;
	
}
.insta{
	
	bottom: 0;
	position: absolute;
	padding: 25px;	
	right:80px;
}
