@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
	font-family: 'Nanum Gothic', sans-serif;
}
.header_wrap{
	width : 1200px;
	position: fixed;
	background-color: azure;
}
/* 로고 */ 
.logo_area{
	width: 1200px;
	height: 150px;
    background-color: white;
}
.logo{
	padding-top: 30px;
	padding-left: 430px;
}
/* 로고, 검색, 로그인 */
.top_menu_area{
	width: 1200px;
    height: 40px;
    background-color: black;
    
}
.top_menu_left{
	position: absolute;
	display: flex;
	color: white;
	padding: 10px;
	padding-left: 30px;
	
}
.top_menu_left ul{
	display:flex;
	list-style: none;
}
.top_menu_left li{
	border-left: solid 1px;
	padding-left: 5px;
	margin-left: 5px;
}
.top_menu_left li:first-child{
	border-left: none;
}
.top_menu_left  a{
	text-decoration: none;
}
.top_menu_left a:link{ 
	color: white; 
	text-decoration: none;
}
.top_menu_left a:visited{ 
	color: white; 
	text-decoration: none;
}
.top_menu_left a:hover{ 
	color: white; 
	text-decoration: none;
}
.top_menu_right{
	color: white;
	padding: 10px;
	padding-right: 30px;
	float: right;
	
}
.top_menu_right ul{
	display:flex;
	list-style: none;
}
.top_menu_right li{
	border-left: solid 1px;
	padding-left: 5px;
	margin-left: 5px;
}
.top_menu_right li:first-child{
	border-left: none;
}
.top_menu_right  a{
	text-decoration: none;
}
.top_menu_right a:link{ 
	color: white; 
	text-decoration: none;
}
.top_menu_right a:visited{ 
	color: white; 
	text-decoration: none;
}
.top_menu_right a:hover{ 
	color: white; 
	text-decoration: none;
}
/* 메인메뉴*/
.main_menu_area{
	width: 1200px;
	height: 50px;
	background-color: black;
}
.main_menu{
	color: white;
	position: absolute;
}
.main_menu ul{
	display:flex;
	list-style: none;
}
.main_menu li{
	padding-top:10px;
	padding-left: 85px;
	font-size: 18px;
	box-sizing: border-box;

}
}
.main_menu a{
	text-decoration: none;
}
.main_menu a:link{ 
	color: white; 
	text-decoration: none;
}
.main_menu a:visited{ 
	color: white; 
	text-decoration: none;
}
.main_menu a:hover{ 
	color: white; 
	text-decoration: none;
}
/* 검색 박스 영역 */
/* .search_area{
	width: 25%;
	height: 50px;
	background-color: yellow;
	float:left;	
} */