@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
	font-family: 'Nanum Gothic', sans-serif;
}
*{
	margin: 0;
	padding:0;
}
/* 화면 전체 렙 */
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	/* background-color: red; */
}

/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 1200px;
	padding-top:240px;
    background-color: white;
    height: 350px;
	
}
/* 푸터 영역 */
.footer_area{
	width:1200px;
	height:100px;
	background-color: blue;
}
.carousel-control{
	
color:white;
width:             15%;
opacity:           .5;
hover-opacity:     .9;
transition:        opacity .15s ease;
}
carousel-indicator{
	width:           30px;
height:          3px;
hit-area-height: 10px;
spacer:          3px;
opacity:         .5;
active-bg:       white;
active-opacity:  1;
transition:      opacity .6s ease;

carousel-caption{
width:             70%;
color:             white;
padding-y:         1.25rem;
spacer:            1.25rem;

carousel-control{
icon-width:        2rem;
}
carousel-control{
prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}
carousel{
transition-duration:       .6s;
transition:                transform carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
}