<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
     <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
     <typeAliases>
        <typeAlias type="com.aplus.model.MemberVO" alias="MemberVO"></typeAlias>
        <typeAlias type="com.aplus.event.EventVO" alias="EventVO"></typeAlias>
        <typeAlias type="com.aplus.item.ItemVO" alias="ItemVO"></typeAlias>
        <typeAlias type="com.aplus.item.ItemAttrVO" alias="ItemAttrVO"></typeAlias>
        <typeAlias type="com.aplus.cart.CartVO" alias="CartVO"></typeAlias>
        <typeAlias type="com.aplus.order.OrderVO" alias="OrderVO"></typeAlias>
        <typeAlias type="com.aplus.review.ReviewVO" alias="ReviewVO"></typeAlias>
    </typeAliases>     
    <!-- <mappers>
    	<mapper resource="com.aplus.mapper.MemberMapper.xml"/>
    </mappers> -->
    
</configuration>